[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
werkzeug = "*"
marshmallow = "*"
faker = "*"
flask-restful = "*"
importlib-metadata = "*"
importlib-resources = "*"
pytest = "*"
flask-bcrypt = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.12.3"
